# DEPRECATED: Dependencies have been migrated to pyproject.toml
#
# Install production dependencies:
#   pip install -e .
#
# Install with development dependencies:
#   pip install -e ".[dev]"
#
# To generate a locked requirements file for CI/Docker:
#   pip install pip-tools
#   pip-compile pyproject.toml -o requirements-lock.txt
